// Specific CSS for your home-page

.my-page {
  background-color: #0075FF;
}

.welcome-message {
  margin-top: 70px;
  color: white;
  text-align: center;
}

.homebutton {
  display: flex;
  justify-content: center;
  margin-top: 82px;
}

.signup-home {
  color: #063D5C;
  margin-top: 200px;
  text-align: center;
}
