// Specific CSS for your home-page

.welcome-message {
  margin-top: 70px;
  color: #063D5C;
  text-align: center;
}

.homebutton {
  display: flex;
  justify-content: center;
  margin-top: 82px;
}

.signup-home {
  color: #063D5C;
  margin-top: 200px;
  text-align: center;
}
