// Specific CSS for your home-page
body {
  background-image: url('https://res.cloudinary.com/dethx39b9/image/upload/v1678958895/background_img_homepage_o8etzp.jpg');
  background-size: cover;
  background-position: center center;
}
