// Import page-specific CSS files here.
@import "home";

.query-results {
  display: flex;
  color: #80BAFF;
  text-align: center;
  justify-content: flex-start;
}

.results-back {
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
}

.display-query {
  display: flex;
  align-items: center;
}
