
<% if user_signed_in? %>
  <div class="footer-container">
    <div class="footer-items">
      <a href="/polls.html">  <i class="footer-icon fa-solid fa-house"></i></a>
      <a href="/search.html"><i class="footer-icon fas fa-search"></i></a>
      <a href="/polls/new"><i class="footer-icon fa-solid fa-plus"></i></a>
      <a href="/categories"><i class="footer-icon fa-solid fa-list-ul"></i></a>

      <% if current_user.photo.attached? %>
        <%= link_to dashboard_path do %>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% end %>
      <% else %>
        <%= link_to dashboard_path do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/2119/2119043.png", class: "avatar" %>
        <% end %>
      <% end %>
      
    </div>
  </div>
<% end %>
