
<% if user_signed_in? %>
  <div class="footer-container">
    <div class="footer-items">
      <a href="/polls.html">  <i class="footer-icon fa-solid fa-house"></i></a>
      <a href="/search.html"><i class="footer-icon fas fa-search"></i></a>
      <a href="/polls/new"><i class="footer-icon fa-solid fa-plus"></i></a>
      <a href="/categories"><i class="footer-icon fa-solid fa-list-ul"></i></a>

      <%= user_photo(current_user, class: "avatar") %>
    </div>
  </div>
<% end %>
