<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/margaridarita/public-poll"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <h4><strong>2023 PUBLICPOLL </strong> Ⓒ <strong>All rights reserved.</strong></h4>
  </div>
</div>
