<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <i class="navbar-icon fa-solid fa-ellipsis" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"></i>
</div>
