<div class="title-trending mt-4 mb-4">
  <h2>Friends</h2>
</div>
<% if Friendship.where(to_user: current_user, status: 0).any? %>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to requested_friendships_path do %>
        <i class="fa-solid fa-user-plus", style= "color: #0075FF" ></i>
      <% end %>
      <p class="ps-3"><%= link_to "Friend requests (#{Friendship.where(to_user: current_user, status: 0).count})", requested_friendships_path, style: "color: #0075FF" %></p>
    </div>
    <div>
      <%= link_to requested_friendships_path do %>
        <i class="fa-solid fa-angle-right", style= "color: #0075FF"></i>
      <% end %>
    </div>
  </div>
  <hr>
<% else %>
  <div class="d-flex justify-content-start">
    <div class="d-flex">
      <i class="fa-solid fa-user-plus", style= "color: #B9B9B9" ></i>
      <p class="ps-3" style= "color: #B9B9B9">Friend requests (0)</p>
    </div>
  </div>
  <hr>
<% end %>

<% if current_user.friendships.accepted.any? %>
  <div class="comments-container">
    <% current_user.friendships.accepted.each do |friendship| %>
      <%= render partial: 'friends', locals: { friendship: friendship } %>
    <% end %>
  </div>
<% else %>
  <p class="mt-1">No friends yet.</p>
<% end %>
