<div class="title-trending mt-4 mb-4">
  <h2>Requested</h2>
</div>
<% if current_user.friendships_requested.any? %>
  <div class="comments-container">
    <% current_user.friendships_requested.each do |friendship| %>
      <%= render partial: 'friends', locals: { friendship: friendship, show_requested_options: true } %>
    <% end %>
  </div>
<% else %>
  <p class="mt-1">No requests yet.</p>
<% end %>
