<% if @user.polls.exists? %>
  <% @user.polls.order(created_at: :desc).each do |poll| %>
      <%= render partial: 'polls/poll', locals: { poll: poll }%>
    <% end%>
<% else %>
  <p class="mt-4">Make your first poll <%= link_to "here", new_poll_path, style: "color: #0075FF" %>.</p>
<% end %>
