<% if @user.votes.exists? %>
  <div class="grid-container">
    <% @user.votes.each do |vote| %>
      <%= render partial: 'polls/poll', locals: { poll: vote.poll }%>
    <% end%>
  </div>
<% else %>
  <p class="mt-4">Get started with our <%= link_to "trending", trending_path, style: "color: #0075FF" %> polls.</p>
<% end %>
