<% if @user.votes.exists? %>
  <div class="grid-container">
    <% @user.votes.order(created_at: :desc).each do |vote| %>
      <%= render partial: 'polls/poll', locals: { poll: vote.poll }%>
    <% end%>
  </div>
<% else %>
  <p class="mt-4"><%= @user.first_name %> hasn't voted on any polls yet.</p>
<% end %>
