
<div class="categories-container">
  <div class="category-card">
    <p class="category-text "><i class="fa-solid fa-palette"></i>Arts</p>
  </div>
  <div class="category-card">
    <p class="category-text">Animals</p>
  </div>
  <div class="category-card">
    <p class="category-text">Business</p>
  </div>
  <div class="category-card">
    <p class="category-text">Entertainment</p>
  </div>
  <div class="category-card">
    <p class="category-text">Food</p>
  </div>
  <div class="category-card">
    <p class="category-text">Games</p>
  </div>
  <div class="category-card">
    <p class="category-text">Health</p>
  </div>
  <div class="category-card">
    <p class="category-text">Music</p>
  </div>
  <div class="category-card">
    <p class="category-text">News</p>
  </div>
  <div class="category-card">
    <p class="category-text">Politics</p>
  </div>
  <div class="category-card">
    <p class="category-text">Science</p>
  </div>
  <div class="category-card">
    <p class="category-text">Sports</p>
  </div>
  <div class="category-card">
    <p class="category-text">Technology</p>
  </div>
  <div class="category-card">
    <p class="category-text">Travel</p>
  </div>
  <div class="category-card">
    <p class="category-text">Fashion</p>
  </div>
  <div class="category-card">
    <p class="category-text">Humor</p>
  </div>
  <div class="category-card">
    <p class="category-text">Relationships</p>
  </div>
  <div class="category-card">
    <p class="category-text">Education</p>
  </div>
  <div class="category-card">
    <p class="category-text">History</p>
  </div>
  <div class="category-card">
    <p class="category-text">Nature</p>
  </div>
  <div class="category-card">
    <p class="category-text">Books</p>
  </div>
  <div class="category-card">
    <p class="category-text">Mature</p>
  </div>
</div>
