  <div class="categories-container">
  <button class="category-card">
    <i class="fa-solid fa-masks-theater"></i>
    <p class="category-text">Arts</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-fish"></i>
    <p class="category-text">Animals</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-briefcase"></i>
    <p class="category-text">Business</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-clapperboard"></i>
    <p class="category-text">Movies</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-burger"></i>
    <p class="category-text">Food</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-gamepad"></i>
    <p class="category-text">Games</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-suitcase-medical"></i>
    <p class="category-text">Health</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-music"></i>
    <p class="category-text">Music</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-newspaper"></i>
    <p class="category-text">News</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-landmark"></i>
    <p class="category-text">Politics</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-flask"></i>
    <p class="category-text">Science</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-volleyball"></i>
    <p class="category-text">Sports</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-laptop"></i>
    <p class="category-text">Technology</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-earth-americas"></i>
    <p class="category-text">Travel</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-shirt"></i>
    <p class="category-text">Fashion</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-face-laugh"></i>
    <p class="category-text">Humor</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-heart"></i>
    <p class="category-text">Relationships</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-graduation-cap"></i>
    <p class="category-text">Education</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-book"></i>
    <p class="category-text">History</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-tree"></i>
    <p class="category-text">Nature</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-book-open"></i>
    <p class="category-text">Books</p>
  </button>
  <button class="category-card">
    <i class="fa-solid fa-ghost"></i>
    <p class="category-text">Horror</p>
  </button>
</div>
