
  <div class="welcome-message">
    <h1>Hello</h1>
    <p>Welcome to Public Poll,<br> a pool of opinions</p>
  </div>
  <div class="homebutton">
    <button class="button-blue" style="width: 122px; height: 48px; top: 309px;  left: 126px; background-color: white;">
      <%= link_to 'Dive in!', polls_path, style: 'color: #0075FF;' %>
    </button>
  </div>
  <div class="signup-home">
    <h4>Sign up</h4>
  </div>
