<div class="card-title"><%= @user.username %></div>
<div class="card-subtitle"><%= @user.email %></div>
<div><%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-flat mt-5', style:"color:#587368" %></div>
