<div class="bar-chart">
  <div class="bar-guide">
    <div class="bar" style="width: <%= @first_percentage %>%">
      <span class="text-white p-2"><%= poll.first_option %></span>
    </div>
  </div>
  <div class="bar-guide">
    <div class="bar mt-2" style="width: <%= @second_percentage %>%">
      <span class="text-white p-2"><%= poll.second_option %></span>
    </div>
  </div>
</div>
