<div class="mt-4 d-flex justify-content-center">
  <h2>Friends' Polls</h2>
  <h3 style="color: #B9B9B9;"><i class="fa-solid fa-angle-down ms-2 mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"></i></h3>
</div>
<% if current_user.friendships.accepted.any? %>
  <% @polls.each do |poll| %>
    <%= render partial: "polls/poll",
                locals: { poll: poll,
                show_photo: true,
                show_buttons: true,
                show_my_poll: true } %>
  <% end %>
<% else %>
  <p class="mt-4">Add friends to see their polls.</p>
<% end %>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="canvas-elements p-3">
    <div class="offcanvas-header pt-4">
      <p style="font-size: 18px; color: #5F9FF8"></p>
    </div>
    <div class="offcanvas-body small pt-0">
      <h3><i class="fa-solid fa-hand-peace me-3 mb-2"></i><%= link_to "For you", polls_path, style: "color: white" %></h3>
      <h3><i class="fa-solid fa-arrow-trend-up me-2 mb-2"></i><%= link_to "Trending", trending_path, style: "color: white" %></h3>
      <h3 style="color: #5F9FF8;"><i class="fa-solid fa-user-group me-2 mb-2"></i>Friends Polls</h3>
    </div>
  </div>
  <div id="close-search">
    <button type="button" class="btn button-white" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
  </div>
</div>
