<% if params[:query].present? %>
  <%= link_to :back, title: "Close" do %>
    <div class="results">
      <div class="results-back">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="display-result">
        <p>results for <strong>" <%= params[:query]%> "</strong></p>
      </div>
    </div>
  <% end %>
<% end %>

<h2>For you</h2>

<% @polls.each do |poll| %>
  <%= render partial: "polls/poll",
    locals: { poll: poll, show_photo: true, show_buttons: true, show_my_poll: true } %>
<% end %>
