<% if params[:query].present? %><!-- if any search has been made -->

  <div class="back-link mt-4">
    <%= link_to :back, title: "Back" do %>
        <i class="back-icon fa-solid fa-angle-left"></i>
    <% end %>
    <p class="results-title mb-0">Results for <strong>" <%= params[:query]%> "</strong></p>
  </div>

  <% @polls.each do |poll| %><!-- polls rendered through poll partial -->
    <%= render partial: "polls/poll",
      locals: { poll: poll, show_photo: true, show_buttons: true, show_my_poll: true } %>
  <% end %>

<% else %><!-- if no search has been made -->

  <h2 class="mt-4">For you</h2>

  <% @polls.each do |poll| %><!-- polls rendered through poll partial -->
    <%= render partial: "polls/poll",
      locals: { poll: poll, show_photo: true, show_buttons: true, show_my_poll: true } %>
  <% end %>

<% end %>


