.back-link {
  position: relative;
}

.back-icon {
  color: #B9B9B9;
  font-size: 22px;
}

.page-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.results-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #B9B9B9;
}
