.button-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0C8BD2;
  transition: transform 0.3s ease;
}

.button-blue:hover {
  color: white;
  transform: scale(1.1);
}

.button-circle {
  width: 32px;
  border-radius: 50%;
 }
