
.button-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #0075FF;
  transition: transform 0.3s ease;
  border: none;
  font-size: 20px;
  font-weight: 700;

  // DO NOT DELETE, THIS IS THE FIX TO THE DEMON BUTTON

  &.btn:active {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: #0075FF;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }

  &.btn:hover {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: #0075FF;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }

  // DO NOT DELETE, THIS IS THE FIX TO THE DEMON BUTTON

}

.button-reset {
  color: white;
  padding: 8px 22px;
  border-radius: 50px;
  background: #0075FF;
  transition: transform 0.3s ease;
  border: none;
  font-size: 20px;
  size: 20px;

  &.btn:active {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: #0075FF;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }

  &.btn:hover {
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: #0075FF;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }
}

.button-comment {
  color: white;
  border-radius: 50px;
  background: #0075FF;
  transition: transform 0.3s ease;
  border: none;
  font-size: 14px;
}

.button-dash{
  background: white;
  border: none;
  width: 75px;
  height: 29.51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #0075FF;
  border-radius: 30px;
}

.button-dash.active{
  background: #0075FF;
  color: #FFFFFF;
}

.button-blue:focus {
  color: white;
  transform: scale(1.1);
}

.button-section {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.btn-accept {
  margin-left: 12px;
  width: 35px;
  height: 35px;
  background-color: #0075FF;
  color: white;
  border-radius: 50%;
  border: none;
}

.btn-status-friend {
  background-color: white;
  color: #0075FF;
  border: none;
}

.btn-decline {
  margin-left: 12px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: #0075FF;
  border-radius: 50%;
  border: solid 2px #0075FF;
}

.button-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  color: #0075FF;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

.button-answer {
  display: flex;
  margin: 5px 0px;
  width: 295px;
  height: 55px;
  top: 251px;
  left: 50px;
  border-radius: 20px;
  border: 2px solid #0075FF;
  border-color: #0075FF;
  background-color: white;
  color: #0075FF;
 }

.button-answer:focus {
  background-color: white;
  transform: scale(1.1);
 }

.back-link {
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
  color: #80BAFF;
  font-size: 20px;
}

.button-white {
  color: white;;
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #5F9FF8;
  transition: transform 0.3s ease;
  border: none;
  font-size: 20px;
  font-weight: 700;

  &.btn:active {
    color: #0075FF;
    padding: 8px 24px;
    border-radius: 50px;
    background: white;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }

  &.btn:hover {
    color: #0075FF;
    padding: 8px 24px;
    border-radius: 50px;
    background: white;
    transition: transform 0.3s ease;
    border: none;
    font-size: 20px;
    font-weight: 700;
  }
}

.selected-button {
  background-color: #0075FF;
  color: white;
}
