.card-container {
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.answers-card {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  align-items: center;
}

.button-answer {
  width: 290px;
  display: flex;
  align-items: center;
}

.poll-avatar {
  width: 32px;
  border-radius: 50%;
}

.user-card {
  padding-bottom: 14px;
  display: flex;
}

.poll-username {
  padding-left: 12px;
  padding-top: 8px;
}

.poll-card {
  padding: 15px 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-small-info {
  margin-bottom: 0;
  color: #80BAFF;
  text-align: right;
}

#time-ago {
  color: #b9b9b9;
}

/* COMMENTS */

.comments-container {
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.comment-card {
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
}

/* CATEGORIES */

.category-card {
  width: 150px;
  height: 104px;
  left: 200px;
  top: 516px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  color: #0075FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}

.category-card:focus {
  background-color:#0075FF;
  color: white;
}

.categories-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  row-gap: 24px;
}

.category-text {
  margin-bottom: 0px;
}

/* MY POLLS */

.my-poll-card {
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.my-poll-show {
  background-color: #80BAFF;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 2px;
  width: 20%;
  border-radius: 5px;
  font-size: 12px;
}
.card-favourite {
  text-align: right;
  padding-bottom: 5px;
}

/* CHART */

.my-chart {
  display: flex;
  justify-content: space-around;
}

.chart-text {
  display: flex;
  justify-content: space-around;
}

.chart-title {
  text-align: center;
}

/* VOTES */

.total-votes {
  color: #D9D9D9;
}

/* BOOKMARKS */

.bookmark-removed {
	animation: heartUnlike .25s cubic-bezier(.175, .885, .32, 1.275) both;
}

.bookmark-added {
	animation: heartPulse .25s cubic-bezier(.175, .885, .32, 1.275) both;
}

@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes heartUnlike {
  50% { transform: scale(.75) ; }

}
