.card-container {
  width: 324px;
  height: 325px;
  align-items: center;

  .answers-card {
    margin-top: 18px;
  }

  .poll-avatar {
    width: 32px;
    border-radius: 50%;
  }

  .user-card {
    padding-bottom: 14px;
    display: flex;
  }

  .poll-username {
    padding-left: 12px;
    padding-top: 8px;
  }

  .poll-card {
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  width: 322px;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  padding-bottom: 40px;
  padding-top: 24px;
 }

  .answer-card-1 {
  width: 278px;
  height: 55px;
  top: 251px;
  left: 50px;
  border-radius: 20px;
  background-color: #0D8BD3;
  padding: 21px 12px 20px 20px;
  margin-top: 24px;
 }

 .answer-card-2 {
  width: 278px;
  height: 55px;
  top: 251px;
  left: 50px;
  border-radius: 20px;
  background-color: #0D8BD3;
  padding: 21px 0px 20px 20px;
  margin-top: 12px;
 }
}
