.card-container {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.answers-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-answer {
  width: 290px;
  display: flex;
  align-items: center;
}

.poll-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit:cover;
}

.user-card {
  padding-bottom: 10px;
  display: flex;
}

.poll-username {
  padding-left: 12px;
  padding-top: 8px;
}

.poll-card {
  padding: 12px 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.card-small-info {
  margin-bottom: 0;
  color: #B9B9B9;
  text-align: right;
}

#time-ago {
  color: #b9b9b9;
}

/* COMMENTS */

.comment-card {
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
}

/* CATEGORIES */

.category-card {
  width: 160px;
  height: 104px;
  left: 200px;
  top: 516px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  border-radius: 20px;
  color: #0075FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}

.category-card:focus {
  background-color:#0075FF;
  color: white;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.trending-card {
  width: 355px;
  height: 104px;
  left: 200px;
  top: 516px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  border-radius: 20px;
  color: #0075FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}

.trending-card:focus {
  background-color:#0075FF;
  color: white;
}

.category-text {
  margin: 0px;
}

/* MY POLLS */
.my-poll-card {
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  top: 185px;
  left: 28px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
.my-poll-show {
  background-color: #80BAFF;
  color: white;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 20%;
  border-radius: 5px;
  font-size: 12px;
}

.display-results {
  color: #0075FF;

}

.bar-chart {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;

  .bar-guide {
    background: #D9D9D9;
    border-radius: 20px;
    margin: 10px 0;
    height: 55px;
  }

  .bar {
    display: flex;
    align-items: center;
    background: #80BAFF;
    border-radius: 20px;
    height: 55px;
  }
}

.option-text {
  flex: 1;
  // overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: 100%;
}

.chart-text {
  text-align: center;
  margin-bottom: 10px;
}

.chart-title {
  text-align: center;
}


/* BOOKMARKS */
.bookmark-removed {
	animation: heartUnlike .25s cubic-bezier(.175, .885, .32, 1.275) both;
}

.bookmark-added {
	animation: heartPulse .25s cubic-bezier(.175, .885, .32, 1.275) both;
}

.card-favourite {
  text-align: right;
  padding-bottom: 5px;
}

.icon-favourite {
  color: #0075FF;
  font-size: 18px;
}

@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes heartUnlike {
  50% { transform: scale(.75) ; }

}

.request-card {
  background-color: red;
}

.offcanvas {
  background-color: #0075FF;
  color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
