.footer-container {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
}

.footer-items {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  color: #D9D9D9;
  font-size: 23px;
  align-items: center;
}
