.form-control {
  border-radius: 20px;
  border-color: #0075FF;
  width: 270px;
}

.form-inputs {
  color: #0075FF;

  i {
    color: #0075FF;
    margin-right: 10px;
  }

}

// specific to creating new poll

.category-label {
  margin-bottom: 8px;
}

.category-field {
  margin-bottom: 16px;
}

.form-comment {
  border-radius: 20px;
  border-color: #0075FF;
  width: 270px;

}


// specific to creating new poll
