// specific to creating new poll

.form-control {
  border-radius: 20px;
  border-color: #0075FF;
  width: 270px;
}

.form-inputs {
  color: #B9B9B9;

  i {
    color: #0075FF;
    margin-right: 10px;
  }
}

.form-text {
  color: #B9B9B9;
}

.category-label {
  margin-bottom: 8px;
}

.category-field {
  margin-bottom: 16px;
}

// comments

.form-comment {
  border-radius: 20px;
  border-color: #0075FF;
  margin-bottom: 5px;
  height: 40px;
}

.form-comment::placeholder {
  color: #B4B4B4;
}

.comment_content {
  margin-bottom: 0px !important;
}

.comment-time {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
