.form-control {
  border-radius: 20px;
  border-color: #0075FF;
  width: 300px;
}

.category-label {
  margin-bottom: 8px;
}

.category-field {
  margin-bottom: 16px;
}

// PAGES WITH FIELDS

.new-poll-page {
  color: #0075FF;

  h2 {
    text-align: center;
  }
}
