.navbar-lewagon {
  justify-content: space-between;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-lewagon .navbar-toggler {
  border: none;
  padding-left: 0;
  padding-right: 0;
}


.navbar-lewagon .navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.navbar-lewagon .nav-link {
  padding-right: 0;
  padding-top: 0;
}

.navbar-lewagon p{
  margin-bottom: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand {
  margin-right: 0;
  transform: scaleX(-1);
}
