
.navbar-lewagon {
  padding-top: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: end;
}

.navbar-icon {
  text-align: right;
  justify-content: space-between;
  color: #D9D9D9;
  font-size: 20px;
}
