#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  caret-color: white;
  background: #0075FF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .form-control {
  border: none;
  background-color: #80BAFF;
  height: 50px;
  border-radius: 30px;
  font-size: 15px;
  position: relative;
  color: white;
  font-weight: bold;
  position: relative;
  caret-color: white;
  }

  input::placeholder {
    color: white;
    opacity: 0.8;
  }

  .button-search-bar {
  border: none;
  font-size: 20px;
  background-color: transparent;
  position: absolute;
  right: 70px;
  color: #0075FF;
  }
}

// search history

#search-history {
  color: white;
  margin-top: 100px;
}

#close-search {
  font-size: 30px;
  color: #80BAFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  background-color: #0075FF;

  i {
    font-size: 30px;
    color: #80BAFF;
  }
}

// search history
