// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  margin: auto !important;
  background: #FFFFFF;
}

.page-container {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: 500;
  color: #B9B9B9;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  margin-bottom: 0;
}

h5 {
  font-size: 12px;
}

p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0;
}

a {
  color: white;
  text-decoration: none;
}

h6 {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
