// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  background: linear-gradient(180deg, #FFFFFF 0%, #0C8BD2 94.27%);
  height: 100%;
}

body {
  margin: auto !important;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 12px;
}


h5 {
  font-size: 10px;
}

p {
  font-size: 15px;
}


a {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}
