body {
  background: #0075FF;
}

h1 {
  font-size: 16vw;
  color: #FFFFFF;
}

h2 {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
}

.but-white {
  color: #0075FF;
  padding: 8px 24px;
  border-radius: 50px;
  background: white;
  border: none;
}
