body {
  background-image: url('https://res.cloudinary.com/dethx39b9/image/upload/v1678958895/background_img_homepage_o8etzp.jpg');
  background-size: cover;
  background-position: center center;
}

.home-container {
  height: 100vh;
  width: 100%;
}

.home {
  height: 100%;
}

#animation {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  height: 50px;
}

.button-home {
  width: 122px;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.3s ease;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #0075FF;
}


.welcome-message {
  background: red;
}

.welcome-message h3 {
  color: white;
  align-items: center;
  background: blue;
}

h1 {
  color: #0075FF;
}

.welcome-paragraph {
  color: white;
}

.signup-home a {
  color: white;
}
