
<div class="back-link mt-4">
  <%= link_to :back, title: "Back" do %>
      <i class="back-icon fa-solid fa-angle-left"></i>
  <% end %>
  <h2 class="page-title mb-0"><%= @category.title %></h2>
</div>

<% if @category.polls.any? %>
  <div class="grid-container">
    <% @polls.each do |poll| %>
      <%= render partial: "polls/poll", locals: { poll: poll, show_photo: true, show_buttons: true, show_my_poll: true } %>
    <% end %>
  </div>
<% else %>
  <p class="mt-5">No '<%= @category.title %>' related polls yet. Come back soon!</p>
<% end %>
