<%= link_to "<", :back, style: "color: #0075FF"%>
<h2><%= @category.title %></h2>
<% if @category.polls.any? %>
  <div class="grid-container">
    <% @polls.each do |poll| %>
      <%= render partial: "polls/poll", locals: { poll: poll, show_photo: true, show_buttons: true, show_my_poll: true } %>
    <% end %>
  </div>
<% else %>
  <p class="mt-4">No '<%= @category.title %>' related polls yet. Come back soon!</p>
<% end %>
